/*Coisa especifica da pagina de agencia*/
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s; 
}
/*Coisa especifica da pagina de agencia*/
.botao:hover {
    background-color: #0056b3; 
}


 .imgini /* imagem da pag inicial*/
{
    background-image: url(./imagens\ de\ fundo/);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    

}